.link {
    position: relative;
    text-decoration: wavy;
}

.bar {
    position: -webkit-sticky;
    background-color: black;
    padding-top: 2%;
    padding-bottom: 2%;
}

.li {
    display: inline;
    margin-left: 3%;
    margin-top: 6%;
    color: white;
}

.foot {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white
}

.block {
    position: relative;
    margin-left: 5%;
}

.header {
    text-decoration: underline;
}