.projectCard {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    height: 18em;
    width: 10em;
    border-radius: 5%;
    background-color: white;
    transition: transform .2s;

}
.projectCard:hover {
    transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    cursor: pointer;
}

.cardImages {
    height: 8em;
    width: 10em;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

.topic {
    position: relative;
    left: 8%;
    color: #192841;
    font-size: 8;
    font-style: oblique;
    opacity: 80%;
}

.header {
    position: relative;
    left: 8%;
    color: #192841;
    font-size: 11;
    font-weight: bold;
}